<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后端</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/jquery-3.4.1.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">商城后台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="http://zhouweiyao.xarlit.cn/admin/access_token/index">更新Access_Token</a></li>
            <li class="layui-nav-item"><a href="http://zhouweiyao.xarlit.cn/admin/jsapi_ticket/index">更新jsapi_ticket</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                   欢迎你！{$Think.session.admin_name}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="{:url('admin/login/logout')}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                {volist name='menu' id='vo'}
                <li class="layui-nav-item" >
                    <a class="" href="javascript:;">{$vo.name}</a>
                    <dl class="layui-nav-child">
                        {volist name='$vo.sub' id='sub'}
                        <dd {if $sub.con eq $con} class="layui-this" {/if}><a href="{:url($sub.con)}" >{$sub.name}</a></dd>
                        {/volist}
                    </dl>
                </li>
                {/volist}
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">{__CONTENT__}</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use(['element','form'], function(){
        var element = layui.element,form = layui.form;

    });
    $(".layui-this").parent().parent().addClass('layui-nav-itemed');
</script>
</body>
</html>