{include file="header.htm"}
<div class="main">
  <div class="col_main">
    <div class="main_hd">
      <h2>文章分类详情</h2>
      <div class="tab_navs">
        <ul>
          <li class="cur"><a href="javascript:void(0);">管理</a></li>
        </ul>
      </div>
    </div>
    <div class="main_bd">

		<form method="post" action="index.php?act=articlecat" name="theForm"  onsubmit="return validate()">
		<table class="table">
		  <tr>
			<td class="label">{$lang.cat_name}</td>
			<td><input type="text" name="cat_name" maxlength="60" size = "30" value="{$cat.cat_name|escape}" /><span class="require-field">*</span></td>
		  </tr>
		  <tr>
			<td class="label">{$lang.parent_cat}</td>
			<td>
			  <select name="parent_id" onchange="catChanged()" {if $disabled }disabled="disabled"{/if} >
				<option value="0">{$lang.cat_top}</option>
				{$cat_select}
			  </select>
			</td>
		  </tr>
		  <tr>
			<td class="label">{$lang.sort_order}:</td>
			<td>
			  <input type="text" name='sort_order' {if $cat.sort_order}value='{$cat.sort_order}'{else} value="50"{/if} size="15" />
			</td>
		  </tr>
			<tr>
			<td class="label">{$lang.show_in_nav}:</td>
			<td>
			  <input type="radio" name="show_in_nav" value="1" {if $cat.show_in_nav neq 0} checked="true"{/if}/> {$lang.yes}
			  <input type="radio" name="show_in_nav" value="0" {if $cat.show_in_nav eq 0} checked="true"{/if} /> {$lang.no}
			</td>
		  </tr>
		  <tr>
			<td class="label"><a href="javascript:showNotice('notice_keywords');" title="{$lang.form_notice}">
				<img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.cat_keywords}</td>
			<td><input type="text" name="keywords" maxlength="60" size="50" value="{$cat.keywords|escape}" />
			<br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_keywords">{$lang.notice_keywords}</span>
			</td>
		  </tr>
		  <tr>
			<td class="label">{$lang.cat_desc}</td>
			<td><textarea  name="cat_desc" cols="60" rows="4">{$cat.cat_desc|escape}</textarea></td>
		  </tr>
		  <tr>
			<td colspan="2" align="center"><br />
			  <input type="submit" class="button" value="{$lang.button_submit}" />
			  <input type="reset" class="button" value="{$lang.button_reset}" />
			  <input type="hidden" name="op" value="{$form_action}" />
			  <input type="hidden" name="id" value="{$cat.cat_id}" />
			  <input type="hidden" name="old_catname" value="{$cat.cat_name}" />
			</td>
		  </tr>
		</table>
		</form>




    </div>
  </div>
</div>
{include file="footer.htm"}