{include file="header.htm"}
<div class="main">
    <div class="col_main">
      <div class="main_hd">
        <h2>文章分类</h2>
      <div class="tab_navs">
          <ul>
            <li class="cur"><a href="javascript:void(0);">管理</a></li>
        </ul>
      </div>
    </div>
    <div class="main_bd">
<form name="theForm" action="index.php?act=articlecat&op=post" method="post">
<table class="table table-hover">
<thead>
  <tr>
    <th>分类id</th>
    <th>系统名称</th>
    <th>分类名称</th>
    <th>分类介绍</th>
  </tr>
  </thead>
  <tbody>
  {foreach from=$articlecat item=cat}
  <tr>
    <td>{$cat.cat_id}<input name="cat_id[]" type="hidden" value="{$cat.cat_id}" /></td>
    <td><a href="index.php?ac=article&op=article_list&amp;cat_id={$cat.cat_id}">{$cat.cat_name|escape}</a></td>
    <td><input name="cat_value[]" type="text" value="{$cat.cat_value|escape}" /></td>
    <td><input name="cat_desc[]" type="text" value="{$cat.cat_desc|escape}" /></td>
  </tr>
  {/foreach}
    <tr class="tfoot">
      <td colspan="4"><input name="submit" type="submit" value="修改" class="btn" /></td>
    </tr>
  </tbody>
</table>
</form>




  </div>
</div>
{include file="footer.htm"}