{if $goods.goods_id}
<dl>
  <dt>
    <a href="{$goods.url}"><img class="lazy_{$page}" data-original="{$goods.goods_img}" src="uploads/images/no_picture.jpg"></a>
    {if $goods.goods_number eq 0}
    <span class="soldout"></span>
    {/if}
  </dt>
  <dd class="ico-box"><i>{$key}</i></dd>
  <dd class="info-box">
      <a href="{$goods.url}" class="join-name">{$goods.goods_name}</a>
      <p><span>{$goods.tuan_price}</span>{$goods.min_number}{if $goods.max_number gt $goods.min_number}-{$goods.max_number}{/if}人团</p>
      <a href="{$goods.url}" class="join-box">
        <span><b>{$goods.sales}人</b>已参团</span>
        <span class="btn">去开团</span>
      </a>
  </dd>
</dl>
{/if}
	