{if $action eq 'do_comm'}
<dl>
  <dt>
      <h3>{$item.short_change_desc}</h3>
      <p>{$item.change_time}</p>
  </dt>
  <dd>{if $item.amount > 0} +{/if} {$item.amount}</dd>
</dl>
{/if}
{if $action eq 'do_cash'}
<li id="item_{$item.id}">
    <span>{$item.add_time}</span>
    <span>{$item.type}</span>
    <span>{$item.amount}</span>
    <span>{$item.pay_status}</span>
    <span>{$item.handle}{if ($item.is_paid eq 0 && $item.process_type eq 1) || $item.handle}<a href="javascript:drop_cancel({$item.id})">取消</a>{/if}</span>
</li>
{/if}