<!DOCTYPE html>
<html id="aos">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>{$shop_name}</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$template_path}css/alipay.css?v={$aos_version}" rel="stylesheet" />
</head>
<body>
<section class="container">
支付成功！关闭此页面，回到微信。
</section>
</body>
</html>
