<!DOCTYPE html>
<html id="aos">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>推广中心</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$template_path}css/common.css?v={$aos_version}" rel="stylesheet" />
<link href="{$template_path}css/user.css?v={$aos_version}" rel="stylesheet" />
<link href="{$template_path}css/dist.css?v={$aos_version}" rel="stylesheet" />
<script src="{$template_path}js/jquery.min.js?v={$aos_version}"></script>
<script src="{$template_path}js/common.js?v={$aos_version}"></script>
</head>
<body>
{include file="inc/header.htm"}
<section id="container" class="container pdb" style="display:none">
    <div class="my_head">
        <dl>
            <dt><img src="{if $info.headimgurl}{$info.headimgurl}{else}{$template_path}images/avatar.png{/if}"></dt>
            <dd>
                <h3>{$info.nickname}</h3>
            </dd>
        </dl>
    </div>
	<div class="nav-dist">
	    <h3><a href="index.php?c=dist&a=depot">推广仓库{if $num.depot}<span><font>{$num.depot}</font></span>{/if}</a></h3>
	    <h3><a href="index.php?c=dist&a=fans">我的粉丝{if $num.fans}<span><font>{$num.fans}</font></span>{/if}</a></h3>
	    <h3><a href="index.php?c=dist&a=order">推广订单{if $num.order}<span><font>{$num.order}</font></span>{/if}</a></h3>
	    <h3><a href="index.php?c=dist&a=comm">我的佣金<span><font>{$dist_amount}</font></span></a></h3>
	    <!--h3><a href="index.php?c=dist&a=card">我的名片</a></h3-->
	    <!--h3><a href="index.php?c=dist&a=rank">排行榜</a></h3-->
    </div>
</section>
{include file="inc/footer.htm"}	  
</body>
</html>
