<!DOCTYPE html>
<html id="aos">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<meta name="Keywords" content="{$keywords}" />
<meta name="Description" content="{$description}" />
<title>积分商城</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$template_path}css/common.css?v={$aos_version}" rel="stylesheet" />
<link href="{$template_path}css/exchange.css?v={$aos_version}" rel="stylesheet" />
<script src="{$template_path}js/jquery.min.js?v={$aos_version}"></script>
<script src="{$template_path}js/common.js?v={$aos_version}"></script>
<script src="{$template_path}js/dropload.min.js?v={$aos_version}"></script>
</head>
<body id="exchange">
{include file="inc/header.htm"}
<section id="container" class="container pdb" style="display:none">
  <div class="can_use_points">
      <p class="use_points_tit">可用积分</p>
      <p class="points_num">{$points}</p>
      <a href="index.php?c=user&a=integral_guide" class="gain_points">如何获取积分</a>
      <a href="index.php?c=user&a=integral" class="gain_points">积分明细</a>
  </div>
  <div class="exchange-list">
  </div>
  {include file="inc/footer.htm"}
</section>
<script>
  window.onload = function() {
    $('#loading').css('display','none'); 
    $('#container').css('display','');
  }

function exchange(goods_id)
{
  $.ajax({
      type: 'POST',
      data: {goods_id},
      url: 'index.php?c=exchange&a=confirm',
      dataType: 'json',
      success: function(data){
        layer.open({content:data.message,skin: 'msg',time: 2});
      }
  }); 
}

$(function(){
    var tab1LoadEnd = false;
    var num = 0;
    var page= 0;
    var dropload = $('.container').dropload({
    scrollArea : window,
    loadDownFn : function(me){
        // 加载菜单一的数据
            page++;
            var counter = page,last = num,amount = 5;
            $.ajax({
                type: 'POST',
                data: {last,amount,page},
                url: 'index.php?c=exchange&a=ajax',
                dataType: 'json',
                success: function(data){
                    var result = '';
                    num = amount * counter;
                    last = num;
                    if(typeof(data.info)!="undefined"){
                          for(i = 0; i < data.info.length; i++){
                              result +=data.info[i];  
                          }
                        }
                    // 为了测试，延迟1秒加载
                    setTimeout(function(){
                        $('.exchange-list').append(result);
                        if(last >= data.count){
                            // 数据加载完
                            tab1LoadEnd = true;
                            // 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                        }
                        // 每次数据加载完，必须重置
                        me.resetload();
                    },1);

                },
                error: function(xhr, type){
                    //layer.open({content: 'Ajax error!',skin: 'msg',time: 2});
                    // 即使加载出错，也得重置
                    me.resetload();
                }
            });
        }
    })
});
</script>
{include file="inc/wx_config.htm"}
{if $stats_code}{$stats_code}{/if}
</body>
</html>
