<!DOCTYPE html>
<html id="aos">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>收货地址</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$template_path}css/common.css?v={$aos_version}" rel="stylesheet" />
<link href="{$template_path}css/user.css?v={$aos_version}" rel="stylesheet" />
<script src="{$template_path}js/jquery.min.js?v={$aos_version}"></script>
<script src="{$template_path}js/common.js?v={$aos_version}"></script>
<script src="{$template_path}js/user.js?v={$aos_version}"></script>
<body>
<section class="container pdb">
    {if $consignee_list}   
    {foreach from=$consignee_list item=consignee key=sn}
    {if $consignee.address_id}
    <div class="address_list">
        <dl>
            <dt>{$consignee.consignee|escape}&nbsp;&nbsp;{$consignee.mobile}</dt>
            <dd>{$consignee.area} {$consignee.address|escape}</dd>
            <dd class="btn">
                <div class="add_l">
                    <a id="address_{$consignee.address_id}" href="javascript:set_address({$consignee.address_id})"{if $consignee.address_id eq $address} class="on"{/if}><em>{if $consignee.address_id eq $address}已设为默认{else}设为默认{/if}</em></a>
                </div>
                <div class="add_r">
                    <a class="edit" href="index.php?c=user&a=address&id={$consignee.address_id}">编辑</a>
                    <a class="drop" href="javascript:drop_address({$consignee.address_id})">删除</a>
                </div>
            </dd>
        </dl>
    </div>
    {/if}
    {/foreach}
    {else}
    <div class="line">
        <span>暂无收货地址，请尽快添加</span>
    </div>
    {/if}
    <div class="fixed address_add"><a href="index.php?c=user&a=address">添加新地址</a></div>  
</section>
</body>
</html>
