<!DOCTYPE html>
<html id="aos">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>我的积分</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$template_path}css/common.css?v={$aos_version}" rel="stylesheet" />
<link href="{$template_path}css/user.css?v={$aos_version}" rel="stylesheet" />
<script src="{$template_path}js/jquery.min.js?v={$aos_version}"></script>
<script src="{$template_path}js/common.js?v={$aos_version}"></script>
</head>
<body>
{include file="inc/header.htm"}
<section id="container" class="container pdb" style="display:none">
    <div class="can_use_points">
        <p class="use_points_tit">可用积分</p>
        <p class="points_num">{$points}</p>
        <a href="index.php?c=user&a=integral_guide" class="gain_points">如何获取积分</a>
        <a href="index.php?c=exchange" class="gain_points">积分商城</a>
    </div>
    <div class="nav-tab nav-n3">
        <a href="index.php?c=user&a=integral"{if $status eq ''} class="cur"{/if}><span>全部</span></a>
        <a href="index.php?c=user&a=integral&status=plus"{if $status eq 'plus'} class="cur"{/if}><span>获取</span></a>
        <a href="index.php?c=user&a=integral&status=minus"{if $status eq 'minus'} class="cur"{/if}><span>消耗</span></a>
    </div>
    <div class="points_log">
        {foreach from=$points_log item=item}
        <dl>
            <dt>
                <h3>{$item.change_desc}</h3>
                <p>{$item.change_time}</p>
            </dt>
            <dd>{if $item.pay_points > 0} +{/if}{$item.pay_points}</dd>
        </dl>
        {/foreach}
    </div>
    {include file="inc/footer.htm"}
</section>  
</body>
</html>
