<!DOCTYPE html>
<html id="aos">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>{if $action eq "account_log"}申请记录{elseif $action eq "account_deposit"}充值{elseif $action eq "account_raply"}提现{else}我的账户{/if}</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$template_path}css/common.css?v={$aos_version}" rel="stylesheet" />
<link href="{$template_path}css/user.css?v={$aos_version}" rel="stylesheet" />
<link href="{$template_path}css/larea.css?v={$aos_version}" rel="stylesheet" />
<script src="{$template_path}js/jquery.min.js?v={$aos_version}"></script>
<script src="{$template_path}js/common.js?v={$aos_version}"></script>
<script src="{$template_path}js/flow.js?v={$aos_version}"></script>
<script src="{$template_path}js/user.js?v={$aos_version}"></script>
</head>
<body>
{include file="inc/header.htm"}
<section id="container" class="container pdb" style="display:none">
  {if $action eq "account_detail" || $action eq "account_log"}
  <div class="can_use_points">
      <p class="use_points_tit">可用余额</p>
      <p class="points_num">{$surplus_amount}</p>
      <a href="index.php?c=user&a=account_deposit" class="gain_points">充值</a>
      <!--a href="index.php?c=user&a=account_raply" class="gain_points">提现</a-->
  </div>
  <div class="nav-tab nav-n2">
    <a href="index.php?c=user&a=account_detail"{if $action eq "account_detail"} class="cur"{/if}><span>帐户明细</span></a>
    <a href="index.php?c=user&a=account_log"{if $action eq "account_log"} class="cur"{/if}><span>申请记录</span></a>
  </div>
  {/if}

  {if $action eq "account_raply"}
  <form name="formSurplus" method="post" action="index.php?c=user" onSubmit="return submitSurplus()">
  <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
    <tr>
      <td width="15%" bgcolor="#ffffff">提现金额:</td>
      <td bgcolor="#ffffff" align="left"><input type="text" name="amount" value="{$order.amount|escape}" class="inputBg" size="30" />
      </td>
    </tr>
    <tr>
      <td bgcolor="#ffffff">会员备注:</td>
      <td bgcolor="#ffffff" align="left"><textarea name="user_note">{$order.user_note|escape}</textarea></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" colspan="2" align="center">
      <input type="hidden" name="surplus_type" value="1" />
        <input type="hidden" name="a" value="act_account" />
        <input type="submit" name="submit"  class="bnt_blue_1" value="确定" />
      </td>
    </tr>
  </table>
  </form>
  {/if}
  {if $action eq "account_deposit"}
  <div class="account_banner">
      <img src="{$template_path}images/deposit.jpg"/>
  </div>
  <form name="formSurplus" method="post" action="index.php?c=user" onSubmit="return submitSurplus()">
  <div class="account_deposit">
    <ul>
      <li>
        <span>充值金额</span>
        <input type="text" name="amount" class="text" value="{$order.amount|escape}" />
      </li>
      <li>
        <span>支付方式</span>
        <!-- {foreach from=$payment item=list} -->
        <input type="radio" class="radio" name="payment_id" id="payment_{$list.pay_id}" value="{$list.pay_id}" /><label for="payment_{$list.pay_id}">{$list.pay_name}</label>
        <!-- {/foreach} -->
      </li>
      <li>
        <input type="hidden" name="surplus_type" value="0" />
        <input type="hidden" name="rec_id" value="{$order.id}" />
        <input type="hidden" name="a" value="act_account" />
        <input type="submit" class="bnt" name="submit" value="确定" />
      </li>
    </ul>
  </div>
  </form>
  {/if}
  {if $action eq "account_detail"}
  <div class="points_log">
      {foreach from=$account_log item=item}
      <dl>
          <dt>
              <h3>{$item.short_change_desc}</h3>
              <p>{$item.change_time}</p>
          </dt>
          <dd>{if $item.amount > 0} +{/if} {$item.amount}</dd>
      </dl>
      {/foreach}
  </div>
  {/if}
  {if $action eq "account_log"}
  <div class="account_log">
    <ul class="c5">
      <li>
        <span>时间</span>
        <span>类型</span>
        <span>金额</span>
        <span>状态</span>
        <span>操作</span>
      </li>
      {foreach from=$account_log item=item}
      <li id="item_{$item.id}">
        <span>{$item.add_time}</span>
        <span>{$item.type}</span>
        <span>{$item.amount}</span>
        <span>{$item.pay_status}</span>
        <span>{$item.handle}{if ($item.is_paid eq 0 && $item.process_type eq 1) || $item.handle}<a href="javascript:drop_cancel({$item.id})">取消</a>{/if}</span>
	  </li>
      {/foreach}
    </ul>
  </div>
  {/if}
  {include file="inc/footer.htm"}
</section>
</body>
</html>
