<!DOCTYPE html>
<html id="aos">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>我的收藏</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="{$template_path}css/common.css?v={$aos_version}" rel="stylesheet" />
<link href="{$template_path}css/user.css?v={$aos_version}" rel="stylesheet" />
<script src="{$template_path}js/jquery.min.js?v={$aos_version}"></script>
<script src="{$template_path}js/common.js?v={$aos_version}"></script>
</head>
<body>
<section class="container">
    <div class="collection_list">
        {foreach from=$goods_list item=goods}
        <dl>
            <dt><a href="{$goods.url}"><img src="{$goods.goods_img}"></a></dt>
            <dd class="goods-name"><a href="{$goods.url}">{$goods.goods_name|escape:html}</a></dd>
            <dd class="goods-info">
                <div class="group-desc">
                    <span>{$goods.min_number}人团</span>
                    <font>{$goods.tuan_price}</font>
                </div>
                <a class="group-button" href="{$goods.url}">去开团</a>
                <a class="heart" href="index.php?c=user&a=del_collection&collection_id={$goods.rec_id}"><i class="iconfont">&#xe70a;</i></a>
            </dd>
        </dl>
        {/foreach}
    </div>
</section>
</body>
</html>
