{include file="header.htm"}
<div class="main">
    <div class="col_side">
        {include file="side_menu.htm"}
    </div>
    <div class="col_main">
      <div class="main_hd">
        <h2>发货单</h2>
      <div class="tab_navs">
          <ul>
            <li class="cur"><a href="javascript:void(0);">管理</a></li>
        </ul>
      </div>
    </div>
    <div class="main_bd">

<form action="index.php?act=order&op=operate_post" method="post" name="theForm">
<div class="list-div" style="margin-bottom: 5px">
<table width="100%" cellpadding="3" cellspacing="1" class='table'>
  <tr>
    <th colspan="4">基本信息</th>
  </tr>
  <tr>
    <td width="18%"><div align="right"><strong>订单编号：</strong></div></td>
   <td width="34%">{$order.order_sn}{if $order.extension_code eq "group_buy"}<a href="group_buy.php?act=edit&id={$order.extension_id}">{$lang.group_buy}</a>{elseif $order.extension_code eq "exchange_goods"}<a href="exchange_goods.php?act=edit&id={$order.extension_id}">{$lang.exchange_goods}</a>{/if}
    <td><div align="right"><strong>下单时间：</strong></div></td>
    <td>{$order.formated_add_time}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>购买用户：</strong></div></td>
    <td>{$order.user_name|default:$lang.anonymous}</td>
    <td><div align="right"><strong>{$lang.label_how_oos}</strong></div></td>
    <td>{$order.how_oos}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>配送方式：</strong></div></td>
    <td>
      <select name="shipping_id">
        {foreach from="$shipping_list" item="shipping"}
        <option value="{$shipping.shipping_id}" {if $shipping.shipping_id eq $order.shipping_id} selected {/if}>{$shipping.shipping_name}</option>
        {/foreach}
      </select></td>
    <td><div align="right"><strong>配送费用：</strong></div></td>
    <td>{$order.shipping_fee}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>发货单号：</strong></div></td>
    <td colspan="3"><input name="delivery[invoice_no]" type="text" id="invoice_no" value="" size="20"/><input name="delivery_hidden" type="hidden" value="{$exist_real_goods}" /></td>
  </tr>
  <tr>
    <th colspan="4">收货人信息</th>
    </tr>
  <tr>
    <td><div align="right"><strong>收货人：</strong></div></td>
    <td>{$order.consignee|escape}</td>
    <td><div align="right"><strong></strong></div></td>
    <td></td>
  </tr>
  <tr>
    <td><div align="right"><strong>地址：</strong></div></td>
    <td>[{$order.region}] {$order.address|escape}</td>
    <td><div align="right"><strong>{$lang.label_zipcode}</strong></div></td>
    <td>{$order.zipcode|escape}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>电话：</strong></div></td>
    <td>{$order.tel}</td>
    <td><div align="right"><strong>手机：</strong></div></td>
    <td>{$order.mobile|escape}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>客户给商家的留言：</strong></div></td>
    <td colspan="3">{$order.postscript}</td>
  </tr>
</table>
</div>

<div class="list-div" style="margin-bottom: 5px">
<table width="100%" cellpadding="3" cellspacing="1" class='table'>
  <tr>
    <th colspan="9" scope="col">商品信息</th>
    </tr>
  <tr>
    <td scope="col"><div align="center"><strong>商品名称 [ 品牌 ]</strong></div></td>
    <td scope="col"><div align="center"><strong>货号</strong></div></td>
    <td scope="col"><div align="center"><strong>货品号</strong></div></td>
    <td scope="col"><div align="center"><strong>属性</strong></div></td>
    {if $suppliers_list neq 0}
    <td scope="col"><div align="center"><strong>供货商</strong></div></td>
    {/if}
    <td scope="col"><div align="center"><strong>库存</strong></div></td>
    <td scope="col"><div align="center"><strong>数量</strong></div></td>
    <td scope="col"><div align="center"><strong>已发货数量</strong></div></td>
    <td scope="col"><div align="center"><strong>此单发货数量</strong></div></td>
  </tr>
  {foreach from=$goods_list item=goods}
    <tr>
      <td>
      {if $goods.goods_id gt 0}
      <a href="../goods.php?id={$goods.goods_id}" target="_blank">{$goods.goods_name} {if $goods.brand_name}[ {$goods.brand_name} ]{/if}</a>
      {/if}
      </td>
      <td>{$goods.goods_sn}</td>
      <td>{$goods.product_sn}</td>
      <td>{$goods.goods_attr|nl2br}</td>
      {if $suppliers_list neq 0}
      <td><div align="right">{$suppliers_name[$goods.suppliers_id]|default:$lang.restaurant}</div></td>
      {/if}
      <td><div align="right">{$goods.storage}</div></td>
      <td><div align="right">{$goods.goods_number}</div></td>
      <td><div align="right">{$goods.sended}</div></td>
      <td><div align="right"><input name="send_number[{$goods.rec_id}]" type="text" id="send_number_{$goods.rec_id}" value="{$goods.send}" size="10" maxlength="11" {$goods.readonly}/></div></td>
    </tr>
  {/foreach}
</table>
</div>

<div class="list-div" style="margin-bottom: 5px">
<table cellpadding="3" cellspacing="1" class='table'>
  <tr>
    <th colspan="6">操作信息</th>
  </tr>

  <tr>
    <td><div align="right"><strong>操作备注：</strong></div></td>
  <td colspan="5"><textarea name="action_note" cols="80" rows="3">{$action_note}</textarea></td>
  </tr>
  <tr>
    <td colspan="6" align="center">
        <input name="delivery_confirmed" type="submit" value="确认生成发货单" class="btn"/>&nbsp;&nbsp;<input type="button" value="取消" class="btn" onclick="location.href='index.php?act=order&op=info&order_id={$order_id}'" />

        <input name="order_id" type="hidden" value="{$order.order_id}">
        <input name="delivery[order_sn]" type="hidden" value="{$order.order_sn}">
        <input name="delivery[add_time]" type="hidden" value="{$order.order_time}">
        <input name="delivery[user_id]" type="hidden" value="{$order.user_id}">
        <input name="delivery[how_oos]" type="hidden" value="{$order.how_oos}">
        <input name="delivery[shipping_id]" type="hidden" value="{$order.shipping_id}">
        <input name="delivery[shipping_fee]" type="hidden" value="{$order.shipping_fee}">

        <input name="delivery[consignee]" type="hidden" value="{$order.consignee}">
        <input name="delivery[address]" type="hidden" value="{$order.address}">
        <input name="delivery[area]" type="hidden" value="{$order.area}">
        <input name="delivery[district]" type="hidden" value="{$order.district}">
        <input name="delivery[sign_building]" type="hidden" value="{$order.sign_building}">
        <input name="delivery[email]" type="hidden" value="{$order.email}">
        <input name="delivery[zipcode]" type="hidden" value="{$order.zipcode}">
        <input name="delivery[tel]" type="hidden" value="{$order.tel}">
        <input name="delivery[mobile]" type="hidden" value="{$order.mobile}">
        <input name="delivery[best_time]" type="hidden" value="{$order.best_time}">
        <input name="delivery[postscript]" type="hidden" value="{$order.postscript}">

        <input name="delivery[how_oos]" type="hidden" value="{$order.how_oos}">
        <input name="delivery[insure_fee]" type="hidden" value="{$order.insure_fee}">
        <input name="delivery[shipping_fee]" type="hidden" value="{$order.shipping_fee}">
        <input name="delivery[agency_id]" type="hidden" value="{$order.agency_id}">
        <input name="delivery[shipping_name]" type="hidden" value="{$order.shipping_name}">
        <input name="operation" type="hidden" value="{$operation}">
    </td>
    </tr>
</table>
</div>
</form>
</form></div></div></div>


{include file="footer.htm"}