.city-picker-input { opacity: 0; top: -9999px; left: -9999px; position: absolute; }
.city-picker-span { position: relative; display: block; color: #ccc; cursor: pointer; }
.city-picker-span > .placeholder { color: #aaa; }
.city-picker-span > .arrow { position: absolute; top: 50%; right: 8px; width: 10px; margin-top: -3px; height: 5px; background: url(../images/drop-arrow.png) -10px -25px no-repeat; }
.city-picker-span.open > .arrow { background-position: -10px -10px; }
.city-picker-span > .title > span { color: #333; padding: 5px; border-radius: 3px; }
.city-picker-dropdown { position: fixed; width: 100%; height: 100%; background-color: #fff; left: 0; top: 0; outline: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); z-index: 10000; overflow-y: auto; display: none; }
.city-select-tab { border-bottom: 1px solid #ccc; width: 100%; height: 40px; line-height: 40px; background: #f0f0f0; font-size: 1.3rem; position: fixed; top: 0; left: 0; }
.city-select-tab > a { display: inline-block; width: 33%; border-left: 1px solid #ccc; border-bottom: 1px solid transparent; color: #4D4D4D; text-align: center; outline: 0; text-decoration: none; cursor: pointer; font-size: 1.4rem; margin-bottom: -1px; }
.city-select-tab > a.active { background: #fff; border-bottom: 1px solid #fff; color: #46A4FF; }
.city-select-tab > a:first-child { border-left: none; }
.city-select-tab > a:last-child.active { border-right: 1px solid #ccc; }
.city-select-content { width: 100%; padding: 50px 0 10px 0; }
.city-select { font-size: 1.3rem; }
.city-select dl { line-height: 2; clear: both; padding: 3px 10px; margin: 0; }
.city-select dl:nth-child(even) { background: #f2f2f2; }
.city-select dt { position: absolute; width: 2.5rem; text-align: left; }
.city-select dd { }
.city-select.province dd { margin-left: 3rem; }
.city-select a { display: inline-block; outline: 0; text-decoration: none; width: 50%; height: 50px; line-height: 50px; font-size: 1.6rem; color: #333; cursor: pointer; }
.city-select a.active { color: #46A4FF; }