.rank-banner img { display: block; width: 100%; }
.rank-list { background-color: #fff; padding:0 .2rem; }
.rank-list dl { border-bottom: #f5f5f5 1px solid; padding:.2rem 0; overflow: hidden; position: relative; }
.rank-list dt { position: absolute; left:.45rem; top: .2rem; }
.rank-list dt img { width: 1.6rem; height: 1.6rem; }
.rank-list dd.info-box { padding-left: 2.25rem; }
.rank-list dd .join-name { display: block; line-height: .3rem; height: .6rem; font-size: .24rem; overflow: hidden; }
.rank-list dd p { line-height: .5rem; }
.rank-list dd p span { padding-right: .2rem; color: #f33; font-size: .32rem; }
.rank-list dd p i { font-size: .2rem;}
.rank-list dd.ico-box { padding-right:.1rem; position: absolute; left: 0; top: .7rem; }
.rank-list dd.ico-box i { display: inline-block; width: .35rem; height: .35rem; line-height: .3rem;font-size: .26rem; color: #f33; background: url(../images/rank-ico.png) no-repeat 0 -1.22rem; background-size: .35rem 2.05rem; text-align: center; font-style: normal; }
.rank-list dl:nth-child(1) .ico-box i { height: .4rem; font-size:0; background-position: 0 0; }
.rank-list dl:nth-child(2) .ico-box i { height: .4rem; font-size:0; background-position: 0 -0.4rem; }
.rank-list dl:nth-child(3) .ico-box i { height: .4rem; font-size:0; background-position: 0 -0.81rem; }
.join-box { padding-left: .5rem; display: block; height: .5rem;line-height: .5rem;border: 1px solid #f33; font-size: 0.22rem;border-radius: 0.25rem; position: relative;}
.join-box:before { position: absolute; left: .1rem; top:0; font-family: iconfont; content: "\e63a"; font-size: .3rem; color: #f33; }

.join-box i { padding-left: .15rem; color: #f33; }
.join-box b { color: #f33; }
.join-box .btn { display: block; right:-1px; top:-1px; padding: 0 .3rem 0 .2rem; background-color:#f33; color: #fff; font-size: .26rem; border-radius:0 0.25rem 0.25rem 0; position: absolute; }
.join-box .btn::after { position: absolute; right: .16rem; top: .18rem; width: .12rem; height: .12rem; border-top: 1px solid #fff; border-right: 1px solid #fff; display: inline-block; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); content: '';}
